$columns: 10 12;
$devices: m t d;

@mixin colSys($col, $sys, $device) {

  .css-#{$device}-#{$col}-#{$sys} {
    float: left;
    letter-spacing: normal;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-rendering: auto;
    vertical-align: top;
    word-spacing: normal;
  }

  @if ($device == m) {
    .css-#{$device}-#{$col}-#{$sys} {
      width: percentage(1 * ( $col / $sys ));
    }
  } @else {
    .css-#{$device}-#{$col}-#{$sys} {
      width:100%;
    }

    @if ($device == t) {

      @media (min-width: 768px) {
        .css-#{$device}-#{$col}-#{$sys} {
          width: percentage(1 * ( $col / $sys ));
        }
      }
    } @else {
      @media (min-width: 990px) {
        .css-#{$device}-#{$col}-#{$sys} {
          width: percentage(1 * ( $col / $sys ));
        }
      }
    }
  }
}

@each $sys in $columns {

  @each $device in $devices {
    @for $i from 1 through $sys {
      @include colSys($i, $sys, $device);
    }
  }
}
