$columns: 10 12;
$devices: m t d;

@mixin colSys($col, $sys, $device) {
  .css-#{$device}-#{$col}-#{$sys} {
    float: left;
    letter-spacing: normal;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-rendering: auto;
    vertical-align: top;
    width: percentage(1 * ( $col / $sys ));
    word-spacing: normal;
  }

  @media (min-width: 768px) {

    @if ($device == t or $device == d) {
      .css-#{$device}-#{$col}-#{$sys} {
        width:100%;
      }
    }
  }

  @media (min-width: 990px) {

    @if ($device == t or $device == d) {
      .css-#{$device}-#{$col}-#{$sys} {
        width:100%;
      }
    }
  }
}

@each $sys in $columns {

  @each $device in $devices {
    @for $i from 1 through $sys {
      @include colSys($i, $sys, $device);
    }
  }
}
